*{
    border: 1px solid red;
    
}
.div-h1 {
    display: flex;
    justify-content: center;
}
body {
    height: 100;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
.div-first-h2 {
    display: flex;
    justify-content: center;
}
.div-imgp {
    display: flex;
    justify-content: space-evenly;
}
.first-photo {
    order: 3;
    width: 300px;
    height: 300px;
}
.div-blog-photos {
    display: flex;
    justify-content: space-evenly;
}
.blog-photo {
    width: 200px;
    height: 200px;
}
.div-second-h2 {
    display: flex;
    justify-content: center;
}
.div-third-h2 {
    display: flex;
    justify-content: center;
}
.div-first-blog-photo {
    flex-direction: column;
}
.blog-p {
    width: 200px;
}
.div-meals-photos {
    display: flex;
    justify-content: space-evenly;
}
.meal-photo {
    width: 300px;
    height: 250px;
}
.meal-p {
    width: 300px;
}
.div-fourth-h2 {
    display: flex;
    justify-content: center;
    
}
.div-trainings-photo {
    display: flex;
    justify-content: center;
}
.trainings-photo {
    width: 600px;
    height: 400px;
}
